#
user {{ ngx_user }} {{ ngx_user }};
worker_processes auto;
worker_cpu_affinity auto;

events {
  multi_accept on;
  use epoll;
  worker_connections {{ ngx_worker_connections }};
}

http {
  client_body_temp_path {{ ngx_temp_path }}/client_body_temp;
  client_body_timeout {{ ngx_client_body_timeout }};
  client_max_body_size {{ ngx_client_max_body_size }};
  default_type application/octet-stream;
  etag off;
  expires max;
  include mime.types;
  keepalive_requests 5000;
  keepalive_timeout 15;
  open_file_cache max=200000 inactive=20s;
  open_file_cache_errors on;
  open_file_cache_min_uses 2;
  open_file_cache_valid 30s;
  reset_timedout_connection on;
  scgi_temp_path {{ ngx_temp_path }}/scgi_temp 1 2;
  send_timeout 30;
  sendfile on;
  server_name_in_redirect on;
  server_names_hash_bucket_size 64;
  server_tokens off;
  tcp_nodelay on;
  tcp_nopush on;
  types_hash_max_size 2048;
  uwsgi_temp_path {{ ngx_temp_path }}/uwsgi_temp 1 2;

  # Logging Settings #
  set_real_ip_from {{ ngx_set_real_ip_from }};
  real_ip_header {{ ngx_real_ip_header }};
  real_ip_recursive on;
  open_log_file_cache max=1000 inactive=60s;
  log_format main   '$remote_addr - $remote_user [$time_local] "$request" '
                    '$status $body_bytes_sent "$http_referer" '
                    '"$http_user_agent" '
                    '$request_time $bytes_sent $request_length';
  log_format syslog '$remote_addr - $remote_user [$time_local] "$request" '
                    '$status $body_bytes_sent "$http_referer" "$http_user_agent" "$host" '
                    '<msec=$msec|connection=$connection|connection_requests=$connection_requests|millis=$request_time>';
  access_log off;
  error_log /dev/null crit;

  # FastCGI Settings #
  fastcgi_buffer_size 128k;
  fastcgi_buffers 8 256k;
  fastcgi_intercept_errors on;
  fastcgi_keep_conn on;
  fastcgi_read_timeout 60;
  fastcgi_temp_path {{ ngx_temp_path }}/fastcgi_temp 1 2;

  # Proxy Settings #
  port_in_redirect off;
  proxy_cache_key "$scheme$host$request_uri";
  proxy_cache_path {{ ngx_temp_path }}/proxy_cache levels=1:2 keys_zone=czone:16m max_size=32m inactive=10m;
  proxy_cache_valid 200 302 10m;
  proxy_connect_timeout 20;
  proxy_read_timeout 20;
  proxy_send_timeout 20;
  proxy_temp_path {{ ngx_temp_path }}/proxy_temp;

  # COMPRESSION #
{% if ngx_gzip %}
  # GZIP SETTINGS #
  gzip on;
  gzip_buffers 16 512k;
  gzip_comp_level 6;
  gzip_disable "MSIE [1-6]\.";
  gzip_http_version 1.1;
  gzip_proxied expired no-cache no-store private auth;
  gzip_static on;
  gzip_types text/xml text/plain text/javascript text/css application/json application/font-woff application/vnd.ms-fontobject application/vnd.apple.mpegurl application/javascript;
{% endif %}

  # Virtual Host Configs #
  include /etc/nginx/conf.d/*.conf;
}
