{{ ngx_logs_path }}/*.log {
  daily
  missingok
  rotate 15
  compress
  delaycompress
  notifempty
  create 640 {{ ngx_arg.user }} {{ ngx_arg.user }}
  sharedscripts
  postrotate
    if [ -f /var/run/nginx.pid ]; then
      kill -USR1 `cat /var/run/nginx.pid`
    fi
  endscript
}
